---
layout: archive
title: "News"
permalink: /news/
author_profile: true
sitemap: true
---

<table class="news_table">
    <tbody>

{%- assign prev_year = nil -%}

{%- for item in site.data.news -%}
    {% if item.year != prev_year %}
        <tr>
            <td colspan="4"><span id='{{ item.year }}' class="news_year">{{ item.year }}</span></td>
        </tr>
    {% endif %}
    {%- assign prev_year = item.year -%}

    <tr>
        <td><i class="fas fa-fw {{ item.icon }}" aria-hidden="true"></i></td>
        <td>{{ item.month }}<br />{{ item.year }}</td>
        <td>
            {% if item.link %}
            <a href="{{ item.link }}">
            {% endif %}
                {{ item.name }}
            {% if item.link %}
            </a>
            {% endif %}
        </td>
        <td>{{ item.description }}</td>
    </tr>

{%- endfor -%}

    </tbody>
</table>
