<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item archive__item-grid-{{ include.images | default: 'show-images' }}" itemscope itemtype="https://schema.org/CreativeWork">

    <div class="archive__item-div">

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    </h2>

    {% if post.duration %}
      <p class="page__meta"><i class="fas si-calendar" aria-hidden="true"></i> <span itemprop="temporalCoverage">{{ post.duration }}</span></p>
    {% elsif post.publishDate %}
      <p class="page__meta"><i class="fas si-calendar" aria-hidden="true"></i> <time datetime="{{ post.publishDate | date_to_xmlschema }}" itemprop="datePublished">{{ post.publishDate | date: site.date_format }}</time></p>
    {% endif %}

    {% if post.type and post.venue and post.location %}
      <p class="page__meta"><i class="fas si-map-marker" aria-hidden="true"></i> {{ post.type }}, <span itemprop="contentLocation">{{ post.venue }}, {{ post.location }}</span></p>
    {% elsif post.location %}
      <p class="page__meta"><i class="fas si-map-marker" aria-hidden="true"></i> <span itemprop="contentLocation">{{ post.location }}</span></p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
    {% endif %}

    </div>

    <div class="archive__item-img-div">
      {% if post.image %}

      {% if post.image.src %}
        {% capture image_src %}{{ post.image.src }}{% endcapture %}
      {% else %}
        {% capture image_src %}{{ post.image }}{% endcapture %}
      {% endif %}

      <a href="{{ post.url | relative_url }}">
        <span itemprop="image"><img src="{{ image_src }}" {% if post.image.alt %} alt="{{ post.image.alt }}" {% endif %} /></span>
      </a>
      {% endif %}
    </div>

  </article>
</div>
