<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{% comment %}
https://stackoverflow.com/questions/1988499/meta-tags-for-mobile-should-they-be-used
{% endcomment %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css"
	integrity="sha384-OksFGMZane5Irag9H/u9ztSoFbhDs7B/0xv2W1xgPwz9QUdfRgtVWYhGsnosY6tI"
	crossorigin="anonymous">
