{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

{% comment %}
<!-- http://t.co/dKP3o1e -->
<!-- https://stackoverflow.com/questions/1988499/meta-tags-for-mobile-should-they-be-used -->
{% endcomment %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css"
	integrity="sha384-iZBxYxrVadAMNM60yLh2+7JgH9yXB+gJeGM6e0pYUz2a5wgnEcyfSuISJj+djVIM"
	crossorigin="anonymous">

<meta http-equiv="cleartype" content="on">
