<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{% comment %}
<!-- http://t.co/dKP3o1e -->
<!-- https://stackoverflow.com/questions/1988499/meta-tags-for-mobile-should-they-be-used -->
{% endcomment %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css"
	integrity="sha384-0iWiKRG9c3a+g0J1KHz5thZyrcDkXDugdMwTJQXg33sC7GaWbryUOr/5MVn9BB9a"
	crossorigin="anonymous">

<meta http-equiv="cleartype" content="on">
