<script src="{{ base_path }}/assets/js/main.min.js" type="text/javascript"
	integrity="sha384-svuqwDY0c38saBKhbPnR06S9YggWLeIz7IgzhAsht//l44TEJS9xkS4/ycIXwgPz"
	crossorigin="anonymous"
></script>

{% if page.name == "publications.html" %}
<script
    src="https://d3js.org/d3.v6.min.js"
    type="text/javascript"
    integrity="sha384-ma33ZEb8L5emtidZhYJFZNIFdht2E8f5wHQMKQGom0aIx9rRKm86XXCjGxOISpM9"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/d3-force-boundary@0.0.3/dist/d3-force-boundary.min.js"
    type="text/javascript"
    integrity="sha384-SevB4CJ2fXfa68qtpow7HTDUVifKz8pwc4REs9CqWkhLR/uQrs4pLXYsAE6dMzEP"
    crossorigin="anonymous"
></script>
<script
    src="{{ base_path }}/assets/pub-map/pub-map.min.js" type="text/javascript"
    integrity="sha384-wxWSWSVd0ZtrP2ing4RRusszAQZ9r5eyou1ppfdKdKNb3MShjxcNO/mgMuX3ytrL"
></script>

<script>
make_publication_map("publication-map");
</script>
{% endif %}
