---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        {{ content }}

        {% assign page_basename = page.path | split: '/' | last | remove: '.md' %}

        {% assign publications = site.publications | concat: site.publications_hidden | where: "type", "paper" | where: "project", page_basename | sort: 'publishDate' %}
        {% if publications.size > 0 %}
        <h2>Publications</h2>
        <div class="publication-list">
            {% assign prev_year = nil %}
            
            {% for publication in publications reversed %}
                {% assign current_year = publication.publishDate | slice: 0, 4 %}
                {% if current_year != prev_year %}
                    {% if prev_year != nil %}
                        </ul>
                    {% endif %}

                    <h3 id='pub_{{ current_year }}'>{{ current_year }}</h3>
                    <ul>
                {% endif %}
                {% assign prev_year = current_year %}

                <li class="publication" id="{{ publication.path | split: '/' | last | remove: '.md' }}">
                    {{ publication.citation | markdownify | remove: "<p>" | remove: "</p>" }}

                    {% if publication.bibtex or publication.file or publication.presentation or publication.dataset %}
                      <br />
                    {% endif %}

                    {% if publication.bibtex %}
                     [<a href="{{ publication.bibtex }}">bibtex</a>] 
                    {% endif %}
                    {% if publication.file %}
                     [<a href="{{ publication.file }}">file</a>] 
                    {% endif %}
                    {% if publication.presentation %}
                     [<a href="{{ publication.presentation }}">presentation</a>] 
                    {% endif %}
                    {% if publication.dataset %}
                     [<a href="{{ publication.dataset }}">dataset</a>] 
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% assign publications = site.publications | concat: site.publications_hidden | where: "type", "thesis" | where: "project", page_basename | sort: 'publishDate' %}
        {% if publications.size > 0 %}
        <h2 id="PhDThesis">PhD Thesis</h2>
        <div class="publication-list">
            <ul>
            {% for publication in publications reversed %}
                <li class="publication" id="{{ publication.path | split: '/' | last | remove: '.md' }}">
                    {{ publication.citation | markdownify | remove: "<p>" | remove: "</p>" }}

                    {% if publication.bibtex or publication.file or publication.presentation or publication.dataset %}
                      <br />
                    {% endif %}

                    {% if publication.bibtex %}
                     [<a href="{{ publication.bibtex }}">bibtex</a>] 
                    {% endif %}
                    {% if publication.file %}
                     [<a href="{{ publication.file }}">file</a>] 
                    {% endif %}
                    {% if publication.presentation %}
                     [<a href="{{ publication.presentation }}">presentation</a>] 
                    {% endif %}
                    {% if publication.dataset %}
                     [<a href="{{ publication.dataset }}">dataset</a>] 
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% assign publications = site.publications | concat: site.publications_hidden | where: "type", "techreport" | where: "project", page_basename | sort: 'publishDate' %}
        {% if publications.size > 0 %}
        <h2 id="TechnicalReports">Technical Reports</h2>
        <div class="publication-list">
            <ul>
            {% for publication in publications reversed %}
                <li class="publication" id="{{ publication.path | split: '/' | last | remove: '.md' }}">
                    {{ publication.citation | markdownify | remove: "<p>" | remove: "</p>" }}

                    {% if publication.bibtex or publication.file or publication.presentation or publication.dataset %}
                      <br />
                    {% endif %}

                    {% if publication.bibtex %}
                     [<a href="{{ publication.bibtex }}">bibtex</a>] 
                    {% endif %}
                    {% if publication.file %}
                     [<a href="{{ publication.file }}">file</a>] 
                    {% endif %}
                    {% if publication.presentation %}
                     [<a href="{{ publication.presentation }}">presentation</a>] 
                    {% endif %}
                    {% if publication.dataset %}
                     [<a href="{{ publication.dataset }}">dataset</a>] 
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% assign publications = site.publications | concat: site.publications_hidden | where: "type", "eventreport" | where: "project", page_basename | sort: 'publishDate' %}
        {% if publications.size > 0 %}
        <h2 id="EventReports">Event Reports</h2>
        <div class="publication-list">
            <ul>
            {% for publication in publications reversed %}
                <li class="publication" id="{{ publication.path | split: '/' | last | remove: '.md' }}">
                    {{ publication.citation | markdownify | remove: "<p>" | remove: "</p>" }}

                    {% if publication.bibtex or publication.file or publication.presentation or publication.dataset %}
                      <br />
                    {% endif %}

                    {% if publication.bibtex %}
                     [<a href="{{ publication.bibtex }}">bibtex</a>] 
                    {% endif %}
                    {% if publication.file %}
                     [<a href="{{ publication.file }}">file</a>] 
                    {% endif %}
                    {% if publication.presentation %}
                     [<a href="{{ publication.presentation }}">presentation</a>] 
                    {% endif %}
                    {% if publication.dataset %}
                     [<a href="{{ publication.dataset }}">dataset</a>] 
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>

      {% include post_pagination.html %}
    </div>
  </article>

  <!-- only show related on a post page when not disabled -->
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
